<h2 class="text-center text-2xl font-semibold text-gray-900 mb-4">Log in</h2>

<div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4 flex items-center">
        <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
        <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
      </div>
    <% end %>

    <div class="mb-6">
      <%= f.submit "Log in", class: "w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" %>
    </div>
  <% end %>

  <%= render "devise/shared/links", class: "text-center" %>
</div>
