<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Expensearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>

  <body>
    <%= render partial: 'components/navbar' %>
    <% if flash.any? %>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          <% flash.each do |type, message| %>
            <% toastr_type = { notice: "success", alert: "error" }[type.to_sym] || "info" %>
            toastr.<%= toastr_type %>("<%= j message %>");
          <% end %>
        });
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
